
<div class="row">
  <div class="col-xs-9">
  	<span style="font-size: 36px;">Gourmets</span>
    <hr>

    <% @gourmets.each do |gourmet| %>
      <div class="box-gourmet">
        <div class="box-head">
          <%= link_to admins_user_path(gourmet.user.id) do %>
            <%= attachment_image_tag gourmet.user, :image, width: "50", height: "50", class: "img-circle", fallback: "blackNeko.png"  %>
            <% if gourmet.user.nickname? %>
              <%= gourmet.user.nickname %>
            <% else %>
              <%= gourmet.user.username %>
            <% end %>
          <% end %> / 
          <%= gourmet.created_at.strftime('%b %d, %Y') %>
          <div class="pull-right">
            <button type="button" class="btn btn-medium btn-radius" >
              <%= link_to "投稿削除", admins_gourmet_path(gourmet), method: :delete  %>
            </button>
          </div>
        </div>

        ジャンル ：<%= gourmet.category %>
        <div class="box-gourmetbody">
          <div class="box-title">
            <%= link_to admins_gourmet_path(gourmet) do %>
              <%= gourmet.name %> / 
              <%= gourmet.address %>
            <% end %>
          </div>
          <p><%= simple_format gourmet.pr %></p><br>

          <% gourmet.gourmetimages.each do |gourmetimage| %>
            <%= attachment_image_tag gourmetimage, :image, width: "150", height: "150", format: 'jpeg' %>
          <% end %><br>

          <div class="gourmetFavorite">
            コメント<%= gourmet.gourmetcomments.count %>件
          </div>
          <hr>

          <% gourmet.gourmetcomments.each do |comment| %>
            <ol>
              <table>
                <tr>
                  <th valign="top">
                    <%= link_to admins_user_path(comment.user.id) do %>
                      <%= attachment_image_tag comment.user, :image, width: "30", height: "30", class: "img-circle", fallback: "blackNeko.png"  %>
                    <% end %>
                  </th>
                  <td class="commentFlame">
                    <%= link_to admins_user_path(comment.user.id) do %>
                      <% if comment.user.nickname? %>
                        <%= comment.user.nickname %>
                      <% else %>
                        <%= comment.user.username %>
                      <% end %>
                    <% end %>
                    <%= comment.g_comment %><br>
                  </td>
                  <td><%= link_to "削除", admins_gourmet_gourmetcomments_path(id: comment.id, user_id: comment.user_id, gourmet_id: gourmet.id), method: :delete  %></td>
                </tr>
              </table>
            </ol>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>
  <%= render partial: "layouts/sidebar" %>
</div>