<% breadcrumb :edit_user, @current_user %>
<div class="row">
  <div class="col-xs-9">
  	<h1>Account Edit</h1>
  	<hr>

  	<%= form_for(@user) do |f| %>
  	  <label>Avatar</label><br>
  	  <%= f.attachment_field :image %><br>
  	  <label>Name</label><br>
  	  <%= f.text_field :username, required: true %><br>
  	  <label>Avatar Name</label><br>
  	  <%= f.text_field :nickname %><br>

<!--      <label>bronze</label><br>
      <%= f.text_field :bronze %><br>
      <label>silver</label><br>
      <%= f.text_field :silver %><br>
      <label>gold</label><br>
      <%= f.text_field :gold %><br>
      <label>platinum</label><br>
      <%= f.text_field :platinum %><br> -->

  	  <label>Profile</label><br>
      <%= f.text_area :profile, :size => "70x20" %>
      <button type="action" class="btn btn-large btn-radius btn-color00 btn-hover00">
        <span class="btn-text">編集</span>
        <span class="btn-bg"></span>
      </button>
    <% end %>


  </div>
  <%= render partial: "layouts/sidebar" %>
</div>