
<div class="row">
  <div class="col-xs-9">
    <span style="font-size: 36px;">Community</span>
    <hr>

    <% @posts.each do |post| %>
      <div class="box-post">
        <div class="box-head">
          <%= link_to admins_user_path(post.user.id) do %>
            <%= attachment_image_tag post.user, :image, width: "50", height: "50", class: "img-circle", fallback: "blackNeko.png"  %>
            <% if post.user.nickname? %>
              <%= post.user.nickname %>
            <% else %>
              <%= post.user.username %>
            <% end %>
          <% end %> / 
          <%= post.created_at.strftime('%b %d, %Y') %>

          <div class="pull-right">
            <button type="button" class="btn btn-medium btn-radius" >
              <%= link_to "投稿削除", admins_post_path(post), method: :delete  %>
            </button>
          </div>
        </div>
      </div>

      テーマ ：<%= post.p_category %>
      <div class="box-postbody">
        <div class="box-title">
          <%= link_to admins_post_path(post) do %>
            <%= post.p_title %>
          <% end %>
        </div>
        <p><%= simple_format post.p_body %></p><br>

        <% post.postimages.each do |postimage| %>
          <%= attachment_image_tag postimage, :image, width: "150", height: "150", format: 'jpeg' %>
        <% end %><br>
        <hr>

        <% post.comments.each do |comment| %>
          <ol>
            <table>
              <tr>
                <th valign="top">
                  <%= link_to admins_user_path(comment.user.id) do %>
                    <%= attachment_image_tag comment.user, :image, width: "30", height: "30", class: "img-circle", fallback: "blackNeko.png"  %>
                  <% end %>
                </th>
                <td class="commentFlame">
                  <%= link_to admins_user_path(comment.user.id) do %>
                    <% if comment.user.nickname? %>
                      <%= comment.user.nickname %>
                    <% else %>
                      <%= comment.user.username %>
                    <% end %>
                  <% end %>
                  <%= comment.post_comment %><br>
                </td>
                <td><%= link_to "削除", admins_post_comments_path(id: comment.id, user_id: comment.user_id, post_id: post.id), method: :delete  %></td>
              </tr>
            </table>
          </ol>
        <% end %>
      </div>
    <% end %>

  </div>
  <%= render partial: "layouts/sidebar" %>
</div>
