
<div class="row">
  <div class="col-xs-9">
    <span style="font-size: 36px;">Community</span>
    <hr>

    <div class="p-top">
      <%= @post.created_at.strftime('%b %d, %Y') %>
      <div class="pull-right">
        <%= form_for admins_post_path(@post), method: :delete do |f|%>
          <%= f.submit "投稿削除", class: "btn btn-medium btn-radius" %>
        <% end %>
      </div>
    </div>


    <%= attachment_image_tag @post.user, :image, width: "50", height: "50", class: "img-circle", fallback: "blackNeko.png" %>
    <%= link_to admins_user_path(@post.user) do %>
      <%= @post.user.username %><br>
    <% end %>
    <%= @post.p_body %><br>
    <%= @post.p_title %><br>

    <% @postimages.each do |postimage| %>
      <%= attachment_image_tag postimage, :image, width: "200", height: "200" %>
    <% end %><br>

    <div class="postFavorite">
      <%= "コメント #{@post.comments.count}件" %></a>
    </div>
    <hr>

    <% @post.comments.each do |comment| %>
      <ol>
        <table>
          <tr>
            <th valign="top">
              <%= link_to admins_user_path(comment.user.id) do %>
                <%= attachment_image_tag comment.user, :image, width: "30", height: "30", class: "img-circle", fallback: "blackNeko.png"  %>
              <% end %>
            </th>
            <td class="commentFlame">
              <%= link_to admins_user_path(comment.user.id) do %>
                <% if comment.user.nickname? %>
                  <%= comment.user.nickname %>
                <% else %>
                  <%= comment.user.username %>
                <% end %>
              <% end %>
              <%= comment.post_comment %>
            </td>
            <td><%= link_to "削除", admins_post_comments_path(id: comment.id, user_id: comment.user_id, post_id: @post.id), method: :delete  %></td>
          </tr>
        </table>
      </ol>
    <% end %>

  </div>
  <%= render partial: "layouts/sidebar" %>
</div>

