<% breadcrumb :contact, @contact %>
<div class="row">
  <div class="col-xs-9">
  	<span style="font-size: 36px;">Contact</span>
    <span class="pull-right">
      <a class="btn btn-medium btn-radius btn-color03 btn-hover03" href="#" data-toggle="modal" data-target="#contactModal">
        <span class="btn-text">ソムリエへメッセ</span>
        <span class="btn-bg"></span>
      </a>
    </span>
  	<hr>

投稿日　：<%= @contact.created_at.strftime('%b %d, %Y') %><br>
Title：<%= @contact.contact_name %><br>
    質問内容：<%= @contact.question %><br>
        回答：<%= @contact.updated_at.strftime('%b %d, %Y') %><br>
             <%= @contact.re_question %>




  </div>
  <%= render partial: "layouts/sidebar" %>
</div>