<% breadcrumb :gourmet, @gourmet %>
<div class="row">
  <div class="col-xs-9">
  	<span style="font-size: 36px;">Gourmet</span>

    <% if user_signed_in? %>
    <span class="pull-right">
      <a class="btn btn-medium btn-radius btn-color02 btn-hover02" href="#" data-toggle="modal" data-target="#gourmetModal">
        <span class="btn-text">オススメ投稿</span>
        <span class="btn-bg"></span>
      </a>
      <a class="btn btn-medium btn-radius btn-color00 btn-hover00" href="/gourmets/gourmetrule" >
        <span class="btn-text">オススメの極意</span>
        <span class="btn-bg"></span>
      </a>
    </span>
    <% end %>
    <hr>


    <% if user_signed_in? %>
      <% if @gourmet.populared_by?(current_user) %>
        <% popular = Popular.find_by(user_id: current_user, gourmet_id: @gourmet.id) %>
        <%= link_to popular_path(id: popular.id), method: :delete do %>
            <span class="pull-right glyphicon glyphicon-bookmark" aria-hidden="true" style="font-size: 50px; color: gold;"></span>
        <% end %>
      <% else %>
        <%= link_to add_gourmet_path(@gourmet), method: :post do %>
            <span class="pull-right glyphicon glyphicon-bookmark" aria-hidden="true" style="font-size: 50px; color: #444444;"></span>
        <% end %>
      <% end %>
    <% end %>

    <div class="g-top">
      フレンチ<%= @gourmet.category %>
    </div>
    <table>
      <tr>
	    <th>Name : </th>
	    <td><%= @gourmet.name %>/<%= @gourmet.name_kana %></td>
      </tr>
      <tr>
	    <th>TEL： </th>
	    <td><%= @gourmet.tel %></td>
      </tr>
      <tr>
        <th>〒</th>
        <td><%= @gourmet.postal_code %></td>
      </tr>
      <tr>
        <th>Address : </th>
        <td><%= @gourmet.address %><%= @gourmet. street %></td>
      </tr>
      <tr>
        <th>URL：</th>
        <td><%= @gourmet.url %></td>
      </tr>
    </table>
    <hr>

    <%= simple_format @gourmet.pr %>
    <hr>
    <% @gourmetimages.each do |image| %>
      <%= attachment_image_tag image, :image, width: "150", height: "150", format: 'jpeg' %>
    <% end %>


    <div class="gourmetFavorite">
      <a href="#"><%= link_to "コメント#{@gourmet.gourmetcomments.count} 件", gourmet_path(@gourmet.id) %></a>
      <% if user_signed_in? %>
        <% if @gourmet.gourmetfavorited_by?(current_user) %>
          <a href="#", style="margin-left: 30px;">
            <%= link_to gourmet_gourmetfavorites_path(@gourmet), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true">いいね</i>
              <%= "#{@gourmet.gourmetfavorites.count}" %>件
            <% end %>
          </a>
        <% else %>
          <a href="#", style="margin-left: 30px;">
            <%= link_to gourmet_gourmetfavorites_path(@gourmet), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true">いいね</i>
              <%= "#{@gourmet.gourmetfavorites.count}" %>件
            <% end %>
          </a>
        <% end %>
      <% end %>
    </div>


    <%= link_to user_path(@gourmet.user.id) do %>
      <%= attachment_image_tag @gourmet.user, :image, width: "50", height: "50", class: "img-circle", fallback: "blackNeko.png"  %>
      <% if @gourmet.user.nickname? %>
        <%= @gourmet.user.nickname %>
      <% else %>
        <%= @gourmet.user.username %>
      <% end %>
    <% end %> / 
    <%= @gourmet.created_at.strftime('%b %d, %Y') %>

    <% if user_signed_in? %>
      <% if @gourmet.user == current_user %>
        <div class="pull-right">
          <%= form_for gourmet_path(@gourmet), method: :delete do |f| %>
            <%= f.submit "投稿削除", class: "btn btn-medium btn-radius" %>
          <% end %>
        </div>
      <% else %>
        <div class="pull-right" id="follow_form">
          <% if current_user.following?(@gourmet.user) %>
            <%= form_for(current_user.active_relationships.find_by(following_id: @gourmet.user.id), html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-medium btn-radius" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.active_relationships.build) do |f| %>
              <div><%= hidden_field_tag :following_id, @gourmet.user.id %></div>
              <button type="action" class="btn btn-medium btn-radius btn-color04 btn-hover04">
                <span class="btn-text">Follow</span>
                <span class="btn-bg"></span>
              </button>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <hr>


    <% @gourmet.gourmetcomments.each do |comment| %>
      <ol>
        <table>
          <tr>
            <th valign="top">
              <%= link_to user_path(comment.user.id) do %>
                <%= attachment_image_tag comment.user, :image, width: "30", height: "30", class: "img-circle", fallback: "blackNeko.png"  %>
              <% end %>
            </th>
            <td class="commentFlame">
              <%= link_to user_path(comment.user.id) do %>
                <% if comment.user.nickname? %>
                  <%= comment.user.nickname %>
                <% else %>
                  <%= comment.user.username %>
                <% end %>
              <% end %>
              <%= simple_format comment.g_comment %>
            </td>
          </tr>
        </table>
      </ol>
    <% end %>

    <% if user_signed_in? %>
      <%= form_for [@gourmet, @gourmetcomment] do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :g_comment, class: "form-control",placeholder: "コメントをここに" %>
          </div>
        </div>
        <button type="action" class="btn btn-medium btn-radius btn-color02 btn-hover02">
          <span class="btn-text">コメントする</span>
          <span class="btn-bg"></span>
        </button>
      <% end %>
    <% end %>


  </div>
  <%= render partial: "layouts/sidebar" %>
</div>
