<% breadcrumb :root %>

<div class="home">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="home-inner">
          <%= image_tag ('wine/top01.png') %>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="home-inner">
            <%= image_tag ('wine/top02.png') %>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="home-inner">
            <%= image_tag ('wine/top03.png') %>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="home-inner">
            <%= image_tag ('wine/top04.png') %>
        </div>
      </div>

    </div>

    <div class="swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44">
        <path class="c-arrow c-arrow-prev" d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" />
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44">
        <path class="c-arrow c-arrow-next" d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" />
      </svg>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>
<hr>

<div style="font-size: 25px;">
<div class="row", style="margin: 80px 0 80px 0; text-align: center;">
  <div class="col-xs-7">
    <%= image_tag ('main05.png'), style: "width: 100%;" %>
  </div>
  <div class="col-xs-5">
    <h1 style="font-size: 60px;"><%= image_tag ('VanitySid.svg') %></h1>ようこそ、Vanityへ<br>
    <p style="text-align: left;">
      ここは、ワインに詳しくなりたいが一歩を踏み出せない人たちの集まる舞踏会です。
      普段は、「見栄」という仮面をつけている人たちも、ここでは「Vanity」の仮面をつけ気兼ねなく語ってください。<br>
      <br>
      あなたのそばに寄り添うソムリエより
  </div>
</div>
<hr>

<div class="row", style="margin: 80px 0 80px 0; text-align: center;">
  <div class="col-xs-5">
    <h1 style="font-size: 60px; margin-bottom: 50px;">
      <a href="/posts">Community</a></h1>
    <p style="text-align: left;">
      ワインに興味がある人たちって以外に多いことご存知ですか？<br>
      少しワインの世界に踏み込んで見てください。<br>きっと幸せが待っています。<br>
      <br>
      The most important thing in communication is hearing what isn't said.</p>
  </div>
  <div class="col-xs-7">
    <%= image_tag ('main01.png'), style: "width: 100%;" %>
  </div>
</div>
<hr>

<div class="row", style="margin: 80px 0 80px 0; text-align: center;">
  <div class="col-xs-7">
    <%= image_tag ('main02.png'), style: "width: 100%;" %>
  </div>
  <div class="col-xs-5">
    <h1 style="font-size: 60px; margin-bottom: 50px;">
      <a href="/goulmets">Gourmet</a></h1>
    <p style="text-align: left;">
      美味しいもの食べると幸せになりませんか？ <br>
      いいお店の定義は人それぞれです。<br>いろいろな方達と自分のお気に入りについて語り合いましょう。<br>
      <br>
      Life isn’t about finding yourself. Life is about creating yourself.

    </p>
  </div>
</div>
<hr>

<div class="row", style="margin: 80px 0 80px 0; text-align: center;">
  <div class="col-xs-5">
    <h1 style="font-size: 60px; margin-bottom: 50px;">
      <a href="/columns">Column</a></h1>
    <p style="text-align: left;">
      ワインにまつわる話・・・<br>
      食事に素敵なお店、恋愛なんかにもワインありますなぁ<br>
      色々な角度から身近に感じてもらえる情報見つけてください<br>
      <br>
      The more I learn the more I realize I don't know. The more I realize I don't know the more I want to learn.
    </p>
  </div>
  <div class="col-xs-7">
    <%= image_tag ('main03.png'), style: "width: 100%;" %>
  </div>
</div>
<hr>

<div class="row", style="margin: 80px 0 80px 0; text-align: center;">
  <div class="col-xs-7">
    <%= image_tag ('main04.png'), style: "width: 100%;" %>
  </div>
  <div class="col-xs-5">
    <h1 style="font-size: 60px; margin-bottom: 50px">
      <a href="/studys">Study</a></h1>
    <p style="text-align: left;">
      勉強・・・<br>
      長続きしないですよねぇ<br>
      そもそも勉強と思っているから無理なんです。<br>
      ワイン飲みながら自分の好きな映画でも観ながら<br>
      ワインに触れていきませんか？<br>
      <br>
      Knowing is not enough; we must apply. Willing is not enough; we must do.
    </p>
  </div>
</div>
</div>