<% breadcrumb :studys %>
<div id="contents">
  <h6><%= image_tag ('images/shiori0.png'), :size=>"69x400" %></h6>
	<ul id="contentsList">
	  <li>
		<h2><%= image_tag ('images/shiori1.png'), :size=>"18x176" %></h2>
		<div class="contentBody", style="text-align: center; font-size: 40px; padding-top: 150px;">
		  <%= image_tag ('VanityLogo.png'), :size=>"350x100" %><br>
		  <div style="margin-top: 50px;"">MENU LIST</div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori2.png'), :size=>"19x160" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; margin-bottom: 30px;">Vanityの由来</div>
		    <p>Vanity ＝「虚栄心、うぬぼれ」</p>
            <p>Masquerade = 「見せかけ、仮面舞踏会」</p>
            <br>
          <span style="text-align: left;">
             <p>Vanity Wine Lovers</p>
             <p style="padding-left: 50px;">ワイン好きなうぬぼれさん</p>
             <p>Masquerade of Sommelier</p>
             <p style="padding-left: 50px;">ソムリエのように仮面を被って</p>
             知ったかしよう・・・<br>
             <br>
          </span>
          Nagisa Hojyo
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori3.png'), :size=>"18x160" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; margin-bottom: 30px;">サイトについて</div>
		  <div class="", style="text-align: left;">
		    Community<br>
            知らないこと、曖昧なこと、ソムリエがお答え。<br>
            趣味ワイン。そんな仲間がいっぱいいます<br>
            Gourmet<br>
     	    美味しいものは美味しい。みんなで共有しよう。<br>
		    自分と好みの合うグルメさんを探して、自分もグルメさんになろう<br>
		    Column<br>
		    グルメに関するいろいろな情報をGetして、知ったか通になろう<br>
		    Study<br>
		    楽しみながら、知識が増えるって最高じゃないですか？<br>
		  </div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori4.png'), :size=>"18x160" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; margin-bottom: 30px;">資料色々</div>
		  あるある写真館<br>
		  辞書<br>
		  ちす<br>
		  Vinteage<br>
		  品種<br>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori5.png'), :size=>"18x153" %></h2>
		<div class="contentBody", style="padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; margin-bottom: 30px; text-align: center;">知ったか検定</div>
		  <div style="">
		    <%= image_tag ('m.bronze.png'), :size=>"70x30" %>BRONZE<br>
		    知ったか素人さん<br>
		    <%= image_tag ('m.silver.png'), :size=>"70x30" %>SILVER<br>
		    知ったか凡人さん<br>
		    <%= image_tag ('m.gold.png'), :size=>"70x30" %>GOLD<br>
		    知ったか貴族様<br>
		    <%= image_tag ('m.platinum.png'), :size=>"70x30" %>PLUTINUM<br>
		    ソムリエ試験も夢じゃない
		  </div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori6.png'), :size=>"18x161" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 30px; margin-bottom: 30px;">資料</div>
		  いつからだろう、子供の頃はできたのに、知らないことを素直に聞けなくなったのは・・・<br>
             いつからだろう、周りの人たちはどうなのだろうと、他人と比較するようになったのは・・・<br>
		  
		</div>
		</li>
	</ul>
</div>

