<% breadcrumb :studys %>
<div id="contents">
  <h6><%= image_tag ('images/shiori0.png'), :size=>"69x400" %></h6>
	<ul id="contentsList">
	  <li>
		<h2><%= image_tag ('images/shiori1.png'), :size=>"22x200" %></h2>
		<div class="contentBody", style="text-align: center; font-size: 40px; padding-top: 150px;">
		  <%= image_tag ('VanityLogo.png'), :size=>"350x100" %><br>
		  <div style="margin-top: 50px;"">MENU LIST</div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori2.png'), :size=>"22x220" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px;">Vanityの由来</div>
		  <hr>
		    <p>Vanity =「うぬぼれ、知ったふり」</p>
            <p>Masquerade =「見せかけ、仮面舞踏会」</p>
            <br>
          <span style="text-align: left; color: black;">
             <p style="font-size: 26px;">-Vanity Wine Lovers-</p>
             <p style="padding-left: 0px;">知ったかしているワイン愛好家たち</p>
             <p style="font-size: 26px;">-Masquerade of Sommelier-</p>
             <p style="padding-left: 0px;">ソムリエの仮面を被って知ったかしよう</p>
             <br>
             <br>
          </span>
          by Nagisa Hojyo
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori3.png'), :size=>"22x200" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px;">サイトについて</div>
		  <hr>
		  <div class="", style="text-align: left; font-size: 20px;">
		    <%= link_to "Community", posts_path %>
              <div style="margin: 0 0 10px 10px;">
              	わからないこと、知らないこと・・・<br>
                実はみんな知ったかしてますよー
              </div>
            <%= link_to "Gourmet", gourmets_path %>
     	      <div style="margin: 0 0 10px 10px;">
     	      	お気に入りのお店共有しませんか？<br>
		        自分のいいなぁって、共有したくなりませんか？？
		      </div>
		    <%= link_to "Column", columns_path %>
		      <div style="margin: 0 0 10px 10px;">
		      	ちょっと空いた時間に読んでみよう<br>
		        知らず知らずにあなたもワイン通
		      </div>
		    <%= link_to "Wine List", lists_path %>
		      <div style="margin: 0 0 10px 10px;">
		        あの時、飲んだ思い出のワイン。<br>
		        それは大切な人との思い出・・・
		      </div>
		  </div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori4.png'), :size=>"22x200" %></h2>
		<div class="contentBody", style="padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; text-align: center;">知ったか資料集</div>
		  <hr>
		  <div class="", style="margin: 20px;">
		    <p><%= link_to "・思わず話したくなる豆知識", commons_path %></p>
		    <p><%= link_to "・ワイン辞典", books_path %></p>
		    <p><%= link_to "・ワインのぶどう品種", books_sepage_path %></p>
		    <p>・ワインの産地（製作中）</p>
		    <p>・ヴィンテージチャート（製作中）</p>
		    <hr>
            <div style="font-size: 28px; text-align: center;">頭が痛くなる知ったか資料</div>
            <hr>
		    <p>・これでバッチリ基礎知識（製作中）</p>
		    <p>・中級編（製作中）</p>
		    <p>・上級編（製作中）</p>
		  </div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori5.png'), :size=>"22x200" %></h2>
		<div class="contentBody", style="padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px; text-align: center;">知ったか検定</div>
		  <hr>
		  <div style="margin: 30px;">
		  	<%= image_tag ('m.black.png'), :size=>"70x30" %>BLACK<br>
		    <a href="/studys/new" style="padding-left: 50px;">初めは皆初心者（練習問題）</a>
		    <%= image_tag ('m.bronze.png'), :size=>"70x30" %>BRONZE（製作中）<br>
		    <p style="padding-left: 50px;">知ったか素人さん</p>
		    <%= image_tag ('m.silver.png'), :size=>"70x30" %>SILVER（製作中）<br>
		    <p style="padding-left: 50px;">知ったか凡人さん</p>
		    <%= image_tag ('m.gold.png'), :size=>"70x30" %>GOLD（製作中）<br>
		    <p style="padding-left: 50px;">知ったか貴族様</p>
		    <%= image_tag ('m.platinum.png'), :size=>"70x30" %>PLUTINUM（製作中）<br>
		    <p style="padding-left: 50px;">ソムリエ試験も夢じゃない</p>
		  </div>
		</div>
	  </li>
	  <li>
		<h2><%= image_tag ('images/shiori6.png'), :size=>"22x220" %></h2>
		<div class="contentBody", style="text-align: center; padding: 50px 60px 0 20px;">
		  <div style="font-size: 28px;">Wine List</div>
		  <hr>
		  My Wine List<br>
		  Champagnion<br>
		  White Wine<br>
		  Red Wine<br>
		</div>
		</li>
	</ul>
</div>

