<!DOCTYPE html>
<html>
  <head>
    <title>Vanity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="drawer drawer--right">
  	<header role="banner">
      <div class="hero"><a href="/"><%= image_tag ('top.svg') %></a></div>

      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <% if user_signed_in? %>
      <% else %>
        <div class="balloon1-top">
          <p>Click Here !! (^ ^)</p>
        </div>
      <% end %>

  <!-- Humberger -->
      <nav class="drawer-nav" role="navigation">

        <% if user_signed_in? %>

          <!--:Re コメント既読件数計算（post)-->
          <% @posts = Post.where(user_id: current_user.id) %>
          <% totalP_count = 0 %>
          <% @posts.each do |post| %>
            <% totalP_count += post.comments.where(read_flg: true).count %>
          <% end %>

          <!--:Re コメント既読件数計算（Gourmet)-->
          <% @gourmets = Gourmet.where(user_id: current_user.id) %>
          <% totalG_count = 0 %>
          <% @gourmets.each do |gourmet| %>
            <% totalG_count += gourmet.gourmetcomments.where(read_flg: true).count %>
          <% end %>

          <!--:Re コメント既読件数計算（Contact)-->
          <% @contacts = Contact.where(user_id: current_user.id) %>
          <% @contacts.each do |contact| %>
            <% if contact.re_question? && contact.read_flg == true %>
              <%= image_tag ('font/mail4.svg') %>
            <% end %>
          <% end %>


              <% if current_user.platinum == true %>
                <%= image_tag ('VanitySid.svg') %>
              <% elsif current_user.gold == true %>
                <%= image_tag ('VanitySidGold.svg') %>
              <% elsif current_user.silver == true %>
                <%= image_tag ('VanitySidSilver.svg') %>
              <% elsif current_user.bronze == true %>
                <%= image_tag ('VanitySidBronze.svg') %>
              <% else %>
                <%= image_tag ('VanitySidNormal.svg') %>
              <% end %>
          <div class="row">
            <div class="col-xs-5">
              <div class="kanban">
                <div style="padding: 70px 0 0 40px;"><%= attachment_image_tag User.find(current_user.id), :image, width: "80", height: "75", class: "img-circle", fallback: "blackNeko.png" %>
                </div>
              </div>
            </div>
            <div class="col-xs-7">
              <div style="margin: 30px 0 0 20px;">
                <label>Name : </label><br>
                <%= User.find(current_user.id).username %><br>
                <label>Avatar Name : </label><br>
                <%= User.find(current_user.id).nickname %><br>
              </div>
            </div>
          </div>
          <div class='', style="margin-top: 10px;"">
            <div style="text-align: center; font-size: 30px;">My MENU</div>
          </div>
          <div class="l-side">
            <nav>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">User Account</a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item"><a href="/users/<%= current_user.id %>">Myアカウント詳細</a></li>
                    <li class="panel-item"><a href="/users/<%= current_user.id %>/edit">Myアカウント編集</a></li>
                    <li class="panel-item"><a href="/users/">グルメユーザー検索</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">Wine List</a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item" data-toggle="modal" data-target="#listModal"><a href="#">Myワイン投稿</a></li>
                    <li class="panel-item"><a href="#">Myワインリスト</a></li>
                    <li class="panel-item"><a href="#">気になるワインリスト</a></li>
                    <li class="panel-item"><a href="/lists/">ワインリスト検索</a></li>
                  </ul>
                </li>
                <% if current_user.user_flg == true %>
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">Document</a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item" data-toggle="modal" data-target="#columnModal"><a href="#">コラム投稿</a></li>
                    <li class="panel-item" data-toggle="modal" data-target="#commonModal"><a href="#">豆知識投稿</a></li>
                  </ul>
                </li>
                <% end %>

                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">
                    <% if totalP_count != 0 %>
                      <span style="background: #fff; color: black; border-radius: 30px; padding: 4px 4px 4px 8px;"><%= totalP_count %>
                      </span>
                    <% end %>
                    My Community
                  </a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item" data-toggle="modal" data-target="#postModal"><a href="#">新規投稿</a></li>
                    <li class="panel-item">
                      <a href="/posts/mycommit">
                        <% if totalP_count != 0 %>
                          <span style="background: #fff; color: black; border-radius: 30px; padding: 4px 4px 4px 8px;"><%= totalP_count %>
                          </span>
                          <% end %>
                        Myコミュ(投稿記事）
                      </a>
                    </li>
                    <li class="panel-item">
                    <a href="/posts/follower">Myコミュニティー(Follower)</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">
                    <% if totalG_count != 0 %>
                      <span style="background: #fff; color: black; border-radius: 30px; padding: 4px 4px 4px 8px;"><%= totalG_count %>
                      </span>
                    <% end %>
                    My Gourmet
                  </a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item" data-toggle="modal" data-target="#gourmetModal"><a href="#">オススメ投稿</a></li>
                    <li class="panel-item">
                      <a href="/gourmets/mycommit">
                        <% if totalG_count != 0 %>
                          <span style="background: #fff; color: black; border-radius: 30px; padding: 4px 4px 4px 8px;"><%= totalG_count %>
                          </span>
                        <% end %>
                        Myレストラン(投稿記事）
                      </a>
                    </li>
                    <li class="panel-item">
                      <a href="/gourmets/follower">Myコミュニティー(Follower)</a></li>
                      <li class="panel-item"><a href="#">行ってみたい(気になる)お店</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">My Contact</a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item" data-toggle="modal" data-target="#contactModal" data-recipient="管理者"><a href="#">管理者(ソムリエ)へ質問</a></li>
                    <li class="panel-item"><a href="/contacts">My質問リスト</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-title glyphicon glyphicon-log-out" href="/users/sign_out" data-method="delete">logOut</a>
                </li>
              </ul>
            </nav>
          </div>


        <% elsif admin_signed_in? %>
          <%= image_tag ('VanitySid.svg') %>
          <div class="row">
            <div class="col-xs-5">
              <div class="kanban">
                <div style="padding: 70px 0 0 40px;">
                </div>
              </div>
            </div>
            <div class="col-xs-7">
              <div style="margin: 30px 0 0 20px;">
                <label>Name : </label><br>
                管理者<br>
              </div>
            </div>
          </div>
          <div class='', style="margin-top: 10px;"">
            <div style="text-align: center; font-size: 30px;">MENU</div>
          </div>
          <div class="l-side">
            <nav>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-title js−accordion" href="#">Document</a>
                  <ul class="panel js−accordion-panel">
                    <li class="panel-item"><a href="/admins/books">Book</a></li>
                    <li class="panel-item"><a href="/admins/commons">Common</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-title" href="/admins/users">UserAcount</a>
                </li>
                <li class="nav-item">
                  <a class="nav-title" href="/admins/posts">Community</a>
                </li>
                <li class="nav-item">
                  <a class="nav-title" href="/admins/gourmets">Gourmet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-title" href="/admins/columns">Column</a>
                </li>
                <li class="nav-item">
                  <a class="nav-title" href="/admins/contacts">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-title glyphicon glyphicon-log-out" href="/admins/sign_out" data-method="delete">logOut</a>
                </li>
              </ul>
            </nav>
          </div>


        <% else %>
          <%= image_tag ('VanitySid.svg') %>
          <div class="sub">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="sub-inner">
                    <%= image_tag ('wine/side01.png') %>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="sub-inner">
                    <%= image_tag ('wine/side02.png') %>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="sub-inner">
                    <%= image_tag ('wine/side03.png') %>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="sub-inner">
                    <%= image_tag ('wine/side04.png') %>
                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <a href="/posts"><div class='menu-item'><span class="glyphicon glyphicon-refresh"></span> Community</div></a>
          <a href="/gourmets"><div class='menu-item'><span class="glyphicon glyphicon-cutlery"></span> Gourmet</div></a>
          <a href="/columns"><div class='menu-item'><span class="glyphicon glyphicon-pushpin"></span> Column</div></a>
          <a href="/studys"><div class='menu-item'><span class="glyphicon glyphicon-book"></span> Study</div></a>
          <a href="/about"><div class='menu-item'><span class="glyphicon glyphicon-leaf"></span> About</div></a>
          <hr>

          <div style="text-align: center;">
          メンバー登録
            <div style="background: rgba( 0, 0, 0, 0.1);">
              <a href="/users/sign_up" class="">
                <button type="button" class="btn", style="width: 220px; margin: 10px;  background: black; color: #fff;">
                  新規メンバー登録
                </button>
              </a>
              <a href="/users/sign_in" class="">
                <button type="button" class="btn", style="width: 220px; margin: 10px; background: black; color: #fff;">
                  ログイン
                </button>
              </a>
            </div>
          </div>

        <% end %>
      </nav>
  <!--burger -->

      <% if admin_signed_in? %>
        <div class="header-bottom">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid", style="width: 850px; left: 60%;">
              <ul class="nav navbar-nav">
                <li style="width: 160px;"><a href="/admins/posts"><span class="glyphicon glyphicon-refresh"></span> Community</a></li>
                <li style="width: 160px;"><a href="/admins/gourmets"><span class="glyphicon glyphicon-cutlery"></span>  Gourmet</a></li>
                <li style="width: 160px;"><a href="/admins/columns"><span class="glyphicon glyphicon-pushpin"></span>  Column</a></li>
                <li style="width: 160px;"><a href="/studys"><span class="glyphicon glyphicon-book"></span>  Study</a></li>
                <li style="width: 160px;"><a href="/about"><span class="glyphicon glyphicon-leaf"></span>  About</a></li>
              </ul>
            </div>
          </nav>
        </div>
      <% else %>
        <div class="header-bottom">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid", style="width: 850px; left: 60%;">
              <ul class="nav navbar-nav">
                <li style="width: 160px;"><a href="/posts"><span class="glyphicon glyphicon-refresh"></span> Community</a></li>
                <li style="width: 160px;"><a href="/gourmets"><span class="glyphicon glyphicon-cutlery"></span>  Gourmet</a></li>
                <li style="width: 160px;"><a href="/columns"><span class="glyphicon glyphicon-pushpin"></span>  Column</a></li>
                <li style="width: 160px;"><a href="/studys"><span class="glyphicon glyphicon-book"></span>  Study</a></li>
                <li style="width: 160px;"><a href="/about"><span class="glyphicon glyphicon-leaf"></span>  About</a></li>
              </ul>
            </div>
          </nav>
        </div>
      <% end %>
    </header>


    <div class="container">
      <div class="mainBody">
        <%= yield %>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container footer-text", style="color: #FAFAFA;">
        <div class="">
          <div class="col-xs-4">
            <div style="font-size: 35px; margin-bottom: 30px;">
              Columns Category
            </div>
            <p><%= link_to "・恋愛", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"恋愛", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・ニュース", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"ニュース", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・暮らし", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"暮らし", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・イベント", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"イベント", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・レストラン", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"レストラン", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・レシピ", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"レシピ", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・お勧め", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"お勧め", "commit"=>"Search" }}) %></p>
            <p><%= link_to "・その他", columns_path({"utf8"=>"✓", "q"=>{"c_category"=>"その他", "commit"=>"Search" }}) %></p>
          </div>
          <div class="col-xs-4">
            <div style="font-size: 35px; margin-bottom: 30px;">
              Main Menu
            </div>
            <p><%= link_to "Community", posts_path %></p>
            <p><%= link_to "Gourmet", gourmets_path %></p>
            <p><%= link_to "Column", columns_path %></p>
            <p><%= link_to "Study", studys_path %></p>
            <p><%= link_to "Wine List", lists_path %></p>
            <p><%= link_to "Dictionary", books_path %></p>
            <p><%= link_to "話したくなる豆知識", commons_path %></p>
            <p><%= link_to "ワイン品種一覧", books_sepage_path %></p>
          </div>
          <div class="col-xs-4", style="margin-top: 150px;">
            <%= image_tag ('footer.png'), width: "350", height: "200" %>
          </div>
        </div>
      </div>
    </footer>

    <!-- Change Header（パンくずメニュー） -->
    <ul class="header-change breadcrumb">
      <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
    </ul>


　　<!-- 簡易検索表示　-->
    <% if user_signed_in? %>
      <div id="pagetopBtn">
        <a href="#floatWindow" class="open">
          <%= image_tag ('images/pagetop.png'), width: "233", height: "50", alt: "ABC COMPANY" %>
        </a>
      </div>
      <div id="floatWindow">
        <a class="close">Closed<%= image_tag ('font/cancel-circle.svg') %>
        </a>
        <dl>
          <dt></dt>
          <dd>
            <%= search_form_for @search_book do |f| %>
              <span class="input-group">
                <%= f.text_field :word_or_original_word_cont, :size=>"33",style: "margin: 8px 0;", placeholder: "チョコっとカンニング(( _ _ ))..zzzZZ" %>
                <button type="submit" formtarget="_blank">
                  <i class="glyphicon glyphicon-search" ></i>
                </button> 
              </span>
            <% end %>
          </dd>
        </dl>
      </div>
    <% end %>


  <!-- 各新規投稿フォーム　-->
  <%= render partial: "layouts/newlist", nouveaulist: @nouveaulist %>
  <%= render partial: "layouts/newcolumn", nouveaucolumn: @nouveaucolumn %>
  <%= render partial: "layouts/newcommon", nouveaucommon: @nouveaucommon %>
  <%= render partial: "layouts/newpost", nouveaupost: @nouveaupost %>
  <%= render partial: "layouts/newgourmet", nouveaugourmet: @nouveaugourmet %>
  <%= render partial: "layouts/newcontact", newcontact: @newcontact %>

  </body>
</html>
